.attribution {
    /* Attribution details */
    font-size: 11px;
    text-align: center;
  }
  
  .attribution a {
    /* Styling for links within the attribution */
    color: hsl(228, 45%, 44%);
  }
  
  body {
    /* Body styling */
    background-color: hsl(212, 45%, 89%); /* Background color */
    font-size: 15px; /* Default font size */
    font-family: 'Outfit', sans-serif; /* Font family */
    display: flex; /* Flex container */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center align elements horizontally */
    justify-content: center; /* Center align elements vertically */
    height: 100vh; /* Set height to 100% of viewport height */
  }
  
  .card {
    /* Styling for the card section */
    background-color: hsl(0, 0%, 100%); /* Background color */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); /* Box shadow */
    border-radius: 0.625rem; /* Border radius */
    max-width: 17rem; /* Maximum width */
    padding: 1rem; /* Padding around content */
    margin-bottom: 1rem; /* Bottom margin */
  }
  
  img {
    /* Styling for images */
    width: 100%; /* Set width to 100% */
    border-radius: 0.625rem; /* Border radius */
    max-height: 18rem; /* Maximum height */
    max-width: 18rem; /* Maximum width */
  }
  
  h1 {
    /* Styling for heading text */
    font-size: 1.375rem; /* Font size */
    font-family: 'Outfit', sans-serif; /* Font family */
    font-weight: 700; /* Font weight */
    color: hsl(218, 44%, 22%); /* Text color */
    text-align: center; /* Center align text */
    width: 100%; /* Set width to 100% */
  }
  
  p {
    /* Styling for paragraph text */
    font-size: 0.94rem; /* Font size */
    font-family: 'Outfit', sans-serif; /* Font family */
    font-weight: 400; /* Font weight */
    color: hsl(220, 15%, 55%); /* Text color */
    text-align: center; /* Center align text */
  }
  
  
